/* Tạo ra breakpoint responsive cho PC để khi chúng ta cần các tính năng chỉ PC mới có thì viết vào */

/* PC Responsive */
@media (min-width: 1024px) {
    #mobile-menu {
        display: none;
    }
}

/* Tablet Responsive */
@media (min-width: 740px) and (max-width: 1023px) {
    
}

/* Mobile Responsive */
@media (max-width: 739px) {
    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }
    
    #header .search-button {
        display: none;
    }

    #nav {
        display: block;
    }
    
    #nav > li {
        display: block;
    }

    /* Dùng pseudo element first child để chọn thẻ li đầu tiên */
    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
    }

    #nav .subnav a {
        background-color: #000;
        color: #fff;
        padding: 14px 36px;
    }

    #content .member-img {
        width: 60%;
    }

    #content .mobile-col-full {
        width: 100%;
    }

    #tour .mobile-col-full {
        width: 100%;
        margin-bottom: 16px;
    }

    .mb-16 {
        margin-bottom: 16px;
    }
}